<d-application route="campaigns"> 
	<header>			
		<a href="/" class="branding">
			<span class="branding-name"></span>
		</a>
		
		<div class="menu">
			<div class="user">${APPGLOBALS.member.name} [${APPGLOBALS.member.clantag}]</div>
			<nav class="navigation">			
				<ul @click:toggleclass:show="header .navigation">				
					<li>
						<d-route name="clans" template="/templates/index/clans.tpl.html" stateful>Member</d-route>
					</li>
					<li>
						<d-route name="campaigns" component-tag="x-campaigns" stateful>Kampagnen</d-route>
					</li>
				</ul>
			</nav>			
			<button class="is-menu-toggle" @click:toggleclass:show="header .navigation">
				<span class="material-icons">menu</span>
			</button>
		</div>		
	</header>
	<main>
		<d-view></d-view>
	</main>
</d-application>
