<d-application route="home">
	<header>
		<nav>
			<ul>
				<li>
					<d-route name="home" template="/templates/index/home.tpl.html" stateful>Home</d-route>
				</li>
				<li>
					<d-route name="clans" template="/templates/index/clans.tpl.html" stateful>Clan Übersicht</d-route>
				</li>
				<li>
					<d-route name="Campaigns" component-tag="x-campaigns" stateful>Campa</d-route>
				</li>
				<li>
					<d-route name="management" template="/templates/index/management.tpl.html" stateful>Management</d-route>
				</li>
			</ul>
		</nav>
	</header>
	<main>
		<d-view></d-view>
	</main>
</d-application>
