/*variable*/

:root {
	--color-bg: #e8e8e8;
	--color-text: #444444;
	--color-border: #A4A4A4;
	--color-highlight: #0d5f14;
	--color-danger: #830e01d4;
	--color-warn: #ab6a02;
	--color-info: #686666d4;
	--color-selected: #547cf4;

	--border-size: 0.125rem;
	--border-definition: var(--color-border) solid var(--border-size);
	--border-radius: 0.3rem;
}

*,
::before,
::after {
	color: var(--color-text);
	background-color: transparent;
	font-size: inherit;
	box-sizing: content-box;
	margin: 0;
	padding: 0;
}

[hidden],
[type=hidden],
.hidden {
	display: none !important;
}

.material-icons {
	color: inherit;
	font-size: inherit !important;
	line-height: 1.15;
	vertical-align: bottom;
	background-color: transparent;
}


/*basic*/
html {
	max-width: 100vw;
	max-height: 100vh;
	line-height: 1.15;
	color: var(--color-text);
	background-color: var(--color-bg);
}

body {
	font-size: clamp(16px, 2.5vw, 24px);
	background-color: var(--color-bg);
}

main,
header {
	padding: 1rem;
}

input:not([type="checkbox"], [type="radio"]),
select {
	display: inline-block;
	/*width = 100% - [padding left-right] - [border left-right]*/
	width: calc(100% - 2 * 0.225rem - 2 * var(--border-size));
	max-width: 100%;
	border: var(--border-definition);
	border-radius: var(--border-radius);
	padding: 0.125rem 0.225rem;
}

input:is([type="checkbox"], [type="radio"]) {
	margin-right: 0.225rem;
	vertical-align: middle;
}

fieldset {
	padding: 1rem;
	border: var(--border-definition);
	border-radius: var(--border-radius);
}

legend {
	padding: 0 0.225rem;
}


d-route,
d-route-link {
	display: block;
	cursor: pointer;
}


/*text*/
.is-small {
	font-size: calc(1em - 33%);
}


.is-danger {
	--color-text: var(--color-danger);
}

/*Layout*/
.container {
	display: grid;
	grid: auto-flow auto / 1fr;
	gap: 1rem
}

.container.is-horizontal {
	grid: auto / auto-flow 1fr;
}

.container.is-horizontal.with-max-content {
	grid: auto / auto-flow auto;
}

/*details*/
details[open] summary {
	margin-bottom: 1rem;

}

.view-port {
	overflow-x: auto;
}


/*dialog*/
dialog {
	background-color: var(--color-bg);
	border: var(--border-definition);
	border-radius: var(--border-radius);
	width: min(90vw, 50rem);
	margin: auto;
	padding: 1rem;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

dialog::backdrop {
	background: rgba(50, 50, 50, 0.8);
}

dialog:not([open]) {
	display: none;
}

/*button*/
button,
.button {
	margin: 0;
	padding: 0;
	border: none;

	--button-text-color: var(--color-text);
	--button-border-color: var(--color-border);
	--button-bg-color: var(--color-bg);

	--button-text-color-focus: var(--color-bg);
	--button-border-color-focus: var(--color-border);
	--button-bg-color-focus: var(--color-border);

	font-size: 0.8rem;
	font-weight: 900;
	padding: 0.5rem 1rem;
	border: var(--border-definition);
	border-radius: var(--border-radius);

	color: var(--button-text-color);
	background-color: var(--button-bg-color);
	border-color: var(--button-border-color);
}

button:is(:hover, :focus),
.button:is(:hover, :focus) {
	color: var(--button-text-color-focus);
	background-color: var(--button-bg-color-focus);
	border-color: var(--button-border-color-focus);
}

:is(button, .button).has-icon-only {
	padding: 0.2rem 0.3rem;
}

:is(button, .button).is-highlight {
	--button-text-color: var(--color-highlight);
	--button-border-color: var(--color-highlight);

	--button-text-color-focus: var(--color-bg);
	--button-border-color-focus: var(--color-highlight);
	--button-bg-color-focus: var(--color-highlight);
}

:is(button, .button).is-danger {
	--button-text-color: var(--color-danger);
	--button-border-color: var(--color-danger);

	--button-text-color-focus: var(--color-bg);
	--button-border-color-focus: var(--color-danger);
	--button-bg-color-focus: var(--color-danger);
}

:is(button, .button).is-link {	
	border: none;
	padding: 0 .333rem 0 0;
	margin: 0;
	font-weight: normal;
	text-decoration: underline;
}

/*messages*/
.message {
	padding: 1rem;
	border: var(--border-definition);
	border-radius: var(--border-radius);
}

.message.is-warn {
	color: var(--color-warn);
}


/*table*/
table {
	width: 100%;
	max-width: 100%;
}

thead th {
	border-bottom: var(--border-definition);
}

td,
th {
	text-align: left;
	padding: 0.3rem 1rem;
}

tr:nth-child(even) {
	background: #CCC
}

/*helper*/

.width-full {
	width: 100%;
	max-width: 100%;
}

.width-max-content {
	width: max-content;
	max-width: max-content;
}

.container.is-horizontal > .align-right{
	justify-self: end;	
}

:not(.container.is-horizontal) > .align-right {
	margin-left: auto;
}


/* registration availability*/
.is-availability-markers {
	gap: 0.125rem;
}

.availability-marker {
	height: 100%;
}

.availability-marker.is-none {

	background-color: red;
}

.availability-marker.is-full {
	background-color: green;
}

.availability-marker.is-partially {
	background-color: orange;
}

/* team editor */
.is-selectable {
	display: flex;
}

.is-selectable>* {
	width: 100%;
}

.is-selectable .is-selected-marker {
	width: max-content;
	cursor: pointer;
}

.is-selectable:not(.is-selected) .is-selected-marker.is-selected {
	display: none;
}

.is-selectable.is-selected .is-selected-marker:not(.is-selected) {
	display: none;
}

/* tooltip */

.with-tooltip{
	position: relative;	
}

.tooltip{
	position: absolute;
	top: 100%;
	border: var(--border-definition);
	border-radius: var(--border-radius);
	background-color: var(--color-bg);
	box-shadow: 1px 1px 3px;
	padding: 0.3em;
	width: max-content;
	z-index: 1000;
}

.with-tooltip:not(.show-tooltip) .tooltip{
	display: none;
}

x-member {
	word-wrap: anywhere;
}
